@charset "utf-8";

/* Reset */
html, body, a, abbr, acronym, address, blockquote, caption, cite, code, dd, del,
dfn, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, em, font, img, ins,
kbd, label, legend, li, object, ol, p, pre, q, samp, span, sub, sup, table,
tbody, td, tfoot, thead, th, tr, ul, var {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    color: black;
    font-family: serif;
    line-height: 1;
}
:focus {
    outline: 0;
}
address, cite, dfn, var {
    font-style: normal;
}
blockquote, q {
    quotes: none;
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none;
}
button {
    font-size: 100%;
}
caption, th, td {
    text-align: left;
}
button, code, input, kbd, pre, samp, select, textarea, var {
    font-family: inherit;
}
del {
    text-decoration: line-through;
}
dt, h1, h2, h3, h4, h5, h6, kbd, th {
    font-weight: normal;
}
ins {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
sub {
    font-size: 65%;
    vertical-align: sub;
}
sup {
    font-size: 70%;
    vertical-align: super;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main */
html {
    font-size: 62.5%;
}
body {
    border:1px dashed #aaa;
    font-family:"Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    height:65.8em;
    margin:0 auto;
    width:95.8em;
}
a abbr[title] {
    border: none;
}
abbr[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}
blockquote {
    margin-left: 4em;
}
cite, dfn {
    font-style: italic;
}
code, kbd, samp, var {
    font-family: monospace;
}
ins {
    font-weight: bold;
}
q {
    quotes: "“" "”" "‘" "’"
}

#properties {
    border-bottom:1px dashed #aaa;
    text-align:center;
}
#properties h1 {
    display:inline;
    font-size:1.6em;
    font-weight:bold;
    margin-right:0.5em;
    vertical-align:middle;
}
#properties ul {
    display:inline-block;
}
#properties li {
    display:inline-block;
    height:3.9em;
    line-height:3.7em;
    margin:0 1.5em;
}
#properties li:last-child {
    margin-right:0;
}
#properties li > * {
    display:inline-block !important;
    font-size:1.6em;
    vertical-align:middle;
}
#properties li .slider {
    margin:0 0.5em;
    width:5em;
}
#sizeValue {
    width:2.5em;
}
#opacityValue {
    width:2.7em;
}
.fileinput-wrapper > span {
    height:auto;
    line-height:1.5;
    vertical-align:middle;
}
.fileinput-wrapper > span:first-child {
    width:19em;
}
#url {
    line-height:1.5;
    width:19em;
}

#tools {
    border-right:1px dashed #aaa;
    float:left;
    height:44em;
    margin-right:0 !important;
    width:11.9em;
}
#tools > div {
    padding-bottom:3.6em;
}
#tools h1 {
    padding:0.65em 0;
    font-size:1.6em;
    font-weight:bold;
    text-align:center;
}
#tools label, #tools button {
    display:block;
    font-size:1.6em;
    margin:0;
    width:100%;
}

#drawingSurface {
    height:44em;
    float:left;
    position:relative;
    width:83.8em;
}
#drawingSurface > * {
    position:absolute !important;
}
#drawingSurface svg {
    z-index:10;
}

#history {
    clear:both;
    height:3.9em;
    border-top:1px dashed #aaa;
    text-align:center;
    vertical-align:middle;
}
#history > * {
    display:inline-block !important;
    font-size:1.6em;
    line-height:2.3em;
    vertical-align:middle;
}
#history h1 {
    font-weight:bold;
}
#historySlider {
    margin-left:1em;
    width:52em;
}

#chat {
    border-top:1px dashed #aaa;
    height:13.7em;
    position:relative;
}
#chat ol {
    height:10.5em;
    overflow-y:scroll;
}
#chat li {
    font-size:1.6em;
    line-height:1.3;
    padding:0.4em 0.5em;
}
#chat li h2 {
    display:inline;
    float:left;
    font-weight:bold;
    margin-right:0.4em;
}
#chat li h2:after {
    content:":";
}
#chat li p {
    clear:right;
    display:inline;
}
#chatInput {
    bottom:0;
    height:3.2em;
    padding:0 0.8em;
    position:absolute;
}
#chatInput > * {
    font-size:1.6em;
    vertical-align:middle;
}
#chatInput h1 {
    display:inline;
    font-weight:bold;
    line-height:1.5;
    margin-right:0.5em;
}
#chatInput input {
    line-height:1.5;
    width:50em;
}
#chatInput input:focus {
    outline:1px solid #aaa;
}
#chatInput button {
    display:inline;
}
#chatInput button span {
    padding:0.18em 1em;
}

#signInDialog {
    display:none;
    font-size:16px;
}
#signInDialog input {
    line-height:1.5;
}
